.HelloComponent {
    width: 100%;
    background-color: #404244;
    color: #ffffff;
    display:block; 
    justify-content:center; 
}

.component-section {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
    font-size: calc(10px + 1.5vmin);
}

.component-section li {
    list-style: none;
}
