.horizontal-menu {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.horizontal-menu li{ 
    display: inline-block;
    background: #333;
    box-shadow: 0 5px 5px 5px rgba(202, 202, 202, 0.363);
    color: #ffffff; 
    padding: 10px;
    margin: 10px;
}

.horizontal-menu a { 
    color: #ffffff; 
    padding: 16px 30px;
    display: block;
}