.transactionData {
    width: 70%;
    margin: 0 auto;
}

.item-list {
    list-style: none;
    padding: 0;
    padding-bottom: 20px;
}

.item-list li {
    display: flex;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    font-weight: 600;
    background: rgba(0, 80, 104, 0.5);
    color: #fafafaf4;
    box-shadow: 0 10px 10px rgba(240, 240, 240, 0.5);
    padding: 20px;
    margin: 0 10px;
    margin-bottom: 10px;
    position: relative;
}