:root {
	--main-color: #00c4e6;
}

::-webkit-scrollbar {
  width: 8px;
  background: rgba(120, 120, 120, 0.6);
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  opacity:0.1;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(255, 255, 255); 
}

.App {
  text-align: center;
}