:root {
	--main-color: #00c4e6;
}

.aboutMe {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: .5rem;
    margin: 0 auto;
    padding: 3rem;
    align-items: center;
    background-color: #282c34;
}

.img-me {
    width: 70%;
    height: auto;
    border-radius: 20%;
}

.myDesc {
    font-size: calc(10px + 2vmin);
    color: #f4f4f4;
}

.myDesc h2{
    text-decoration: underline;
    text-decoration-color: var(--main-color);
}

.myDesc p{
    font-size: calc(10px + 1vmin);
}

@media only screen and (max-width: 768px) {
    .aboutMe {
        display: block;
    }
}